@import "fa-var";

$base-font-size: 18px; //CUSTOM
$base-line-height: 26px;

$photo-width: 100px;
$qrcode-width: 100px;

// Size
$h1-font-size:      $base-font-size*2;
$h1-line-multiple:  2;
$h2-font-size:      $base-font-size*1.5;
$h2-line-multiple:  1.2; //CUSTOM
$h3-font-size:      $base-font-size*1.2;
$h3-line-multiple:  1;

// Colors
$firstname-color: rgb(0, 0, 0);
$familyname-color: rgb(0, 0, 0);
$title-color: rgb(89, 89, 89);
$address-color: rgb(0, 0, 0);
$quote-color: rgb(0, 0, 0);
$section-rectangle-color: rgb(255, 204, 0); //CUSTOM
$section-title-color: rgb(89, 89, 89);
$subsection-color: rgb(0, 0, 0);
$hint-color: rgb(0, 0, 0);

// Icons
$external-link-icon: $fa-var-external-link;
$email-icon: $fa-var-envelope-o;
$phone-icon: $fa-var-phone;
$mobile-icon: $fa-var-mobile;
$fax-icon: $fa-var-print;
